*{
    /* Use this border to see the flex box alignment*/
    outline: 0px red solid;
    

}

p{
    font-size: 14px;
}

.top-nav {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items:center
}

.logo-nav{
    flex: 1;
    align-items: flex-start;
    padding-left: 20px;

}

.header-links{
    flex: 1;
    align-items: flex-end;
    justify-content: baseline;
}

ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    padding-right: 20px;
}

.hero{
    background-color: #1f2937;
    display: flex;
    padding: 75px 20px;
}

.hero-left-column{
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    color:white
}

.hero-right-column{
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.blue-button{
    background-color: #3882f6;
    color:white;
    padding: 5px 30px;
    border-radius: 5px;
}

.trust-signals{
    background-color: white;
    display: flex;

}

.trust-signals-h2{
    text-align: center;
}

.trust-signals-container{
    padding: 75px 20px;

}

.trust-signals-box{
    display: flex;
    flex-direction: row;
}

.box{
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 1px #3882f6 solid;
    padding: 20px 0px;
}

.quote-box{
    background-color: #e5e7eb;
    padding: 75px 20px;
    display: flex;
    flex-direction: column;
}

.quote{
    flex: 1;
    text-align: center;
}

.quote-author{
    flex: 1;
    justify-items: flex-end;
    padding-right: 20px;

}

.cta{
    background-color: white;
}

.cta-container{
    display: flex;
    background-color: #3882f6;
    margin: 30px;
}

.cta-left-column{
    flex: 2;
    justify-items: flex-start;
    padding-left: 40px;
    color: white;

}

.cta-right-column{
    flex: 1;
    justify-content: center;
    justify-items: center;
    padding-top: 30px;
}

.white-button{
    background-color: transparent;
    color:white;
    padding: 5px 30px;
    border: 2px white solid;
    border-radius: 5px;
}